.image-cover {
    max-width: 100%;
}

.resume {
    font-size: 1.4rem;
}
.form label.error {
    float: left;
    margin: 0;
    color: red;
    z-index: 100;
    margin-bottom: 1rem;
}

body {
    background-color:honeydew ;
    font-size: 1.3rem;
}

.custom-header {
    background-color: darkslategrey !important;
}

.img-slide {
    max-height: 600px;
}

.navbar-brand {
    min-height: 70px;
    display: flex;
    align-items: center;
    font-size: 24px;

}